<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>게시판</title>
 
</head>
<body>
    <style>
        textarea:disabled{
            background-color: white;
        }

    </style>
    <div id="board_write">
        <h4>해당 글을 삭제하시겠습니까?</h4>
        <h4>글 본문</h4>
            <div id="write_area">
                <form enctype="multipart/form-data" action="" method="post">
                    <p> <input type="name" id="WriterName" name="Content-name" placeholder="이름" readonly> </p>
                    <div id="in_title">
                        <textarea  id="utitle" name="Content-title" rows="1" cols="55" placeholder="제목(30자 제한)" maxlength="30" readonly></textarea>
                    </div>
 
                    <div class="wi_line"></div>
                    <div id="in_content">
                        <textarea rows="10" cols="55" name="content" id="Content-content" placeholder="내용(100자 제한)" maxlength="100" readonly></textarea>
                    </div>
 
                      <input type="file" name="SelectFile" readonly/>
                    <div class="bt_se">A
                        <button type="submit">게시글 삭제</button>
                        <button type="submit">게시글 홈으로</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>